  @import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Cookie&family=Luckiest+Guy&family=Mukta:wght@200&family=Poppins:wght@200;300&family=Roboto+Mono:wght@100;400;500&family=Ubuntu+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
    position: relative;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.detel{
    margin-left: 8%;
    margin-top: 15%;
}

.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: orange;
    
}

.detel p{
    color: #555;
    line-height: 22px;
}

.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}


.images:hover .shape{
    bottom: 40px;
}

.images:hover .girl{
    left: 45%;
}

.social{
    margin-left: 8%;
    margin-top: 100px;
}

.social a{
    font-size: 30px;
    color: #212121;
    margin-right: 20px;
}

.social a:hover{
    color: orange;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 20%;

    margin-bottom: 16px;
    padding: 0 8px;
    margin-left: 150px;
  }
  .row{
    margin-left: 100px;
  }
  
  .card {
    position: relative;
    transition: 1s
  }
  
  
  .card:hover {
    top: -10px;
    transform: translateY(-10px);
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    border-radius: 20px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  body{
    background: #eff4fd;
  }
  .small_div{
    width: 200px;
    background-color: orange;
    height: 100px;
    margin: 0px;
    border-radius: 10px;
  }
  .whole_sample_div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 100px;
    margin-top: 10px;

  }
  .small_div h4{
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
  }
  .small_div_1{
    display: flex;
    gap: 20px;


  }
  .small_div_2{
    display: flex;
    gap: 20px;
    /* margin-left: 100px; */
  }

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    /* background-color: DodgerBlue; */
    height: 800px;
    margin-left: 200px;
    width: 80%;

  }
  
  .flex-container > .div1 {
    background-color: #f1f1f1;
    width: 50%;
    margin: 10px;
    text-align: center;
    /* line-height: 55px; */
    font-size: 30px;
    margin-left: 100px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.2);
  }

    .flex-container > .div2 {
    background-color: #f1f1f1;
    width: 50%;
    margin: 10px;
    text-align: center;
    /* line-height: 55px; */
    font-size: 30px;
    margin-left: 20px;
    border-radius:20px;
    box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.2);
  }

    /* .div1:hover {
    top: -10px;
    transform: translateY(-10px);
  }
  .div1 {
    position: relative;
    transition: 1s
  }
 
      .div2:hover {
    top: -10px;
    transform: translateY(-10px);
  }
  .div2 {
    position: relative;
    transition: 1s
  } */
footer{
  background: #f1f1f1;
  padding: 90px 0;
}
 
.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  
}
 
.logo{
  width: 180px;
}
 
.social-media{
  margin: 20px 0;
}
 
.social-media a{
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}
 
.social-media a:hover{
  color: #fc5c65;
}
 
.right-col h1{
  font-size: 26px;
}
 
.border{
  width: 100px;
  height: 4px;
  background: orange;
}
 
.newsletter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
 
.txtb{
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}
 
.btn{
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background:  orange;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}
 
.btn:hover{
  opacity: .7;
}
 
.page-content{
  min-height: 100vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
@media screen and (max-width:960px) {
  .footer-container{
    max-width: 600px;
  }
  .right-col{
    width: 100%;
    margin-bottom: 60px;
  }
 
  .left-col{
    width: 100%;
    text-align: center;
  }
}
 
 
@media screen and (max-width:700px){
  .btn{
    margin: 0;
    width: 100%;
    margin-top: 20px;
    }
}